.container{
    /* background-image: linear-gradient(rgb(3, 3, 95),grey); */
    background-color: #1A559B;
}

.form1>#bform{
    display: none;

}
.card>#sform{
    display: none;
}
.login{
    display: none;
}
.message>.info{
    /* background-color: grey; */
    font-family: 'Tahoma', Verdana, 'sans-serif';
    font-size: larger;


}
.info>img{
    border-radius: 50%;
}
.welcome>p{
    font-size: 40px;


}
.welcome>img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
#user1,.user2{
    text-decoration:3px solid orange underline;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}