/* @media only screen and (max-width:768px) {
    body {
        background-color: black;
    } */
/* .card{
        width: 100%;
        color:white;
    }
    .card>input{
        width: 100vw;

    }
 } */


.container {
    background-color: #1A559B;
}

.text {
    color: white;
    font-size: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bolder;
    text-decoration: 2px solid orange underline;
    display: flex;
    align-items: center;
    justify-content: center;


}

.fas:hover {
    text-decoration: underline;
}

/* #benlogin{
    display: none;
} */
/* #sponsorlogin{
    display: none;
} */