@media only screen and (max-width:768px) {
    body {
        background-color: black;
    }
    /* .card{
        width: 100%;
        color:white;
    }
    .card>input{
        width: 100vw;

    } */


}
.container{
    background-color: #1A559B;
}

.loginpanel {
    display: block;
    /* width: 30vw; */
    background-color: rgb(194, 193, 190);
}